/*  your css code here. If applicable */
*{   
	padding: 10px;
	background-color: #f5f5f5;
}

.box1{
	background-color:white;
	Border:10px;
	padding: 20px;
}
.box1>.author{
	background-color:white;
	Text-align: right;
	font-style: italic;
	position:relative;
	border:2px;
	
}